@{
    ViewData["Title"] = "Моя домашняя";
}

@model IEnumerable<Person>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<ul>
    @foreach (var person in Model.OrderBy(i => i.LName).ThenBy(i => i.FName))
    {
        @await Html.PartialAsync("PV_personInfo", person)
    }
</ul>
